.dial-input {
  @apply border border-solid border-primary rounded h-[40px];

  &:hover {
    @apply border-accent-primary;
  }

  &:focus,
  &:active,
  &:focus-within {
    @apply border-focus;
  }
}

.dial-input,
.dial-input-no-border {
  @apply bg-transparent truncate dial-small-text;
  @apply w-full outline-0;

  &:not(:placeholder-shown) {
    @apply text-primary;
  }

  &:disabled {
    @apply dial-input-disable;
  }
}

.dial-input-disable,
.dial-input-disable:not(:placeholder-shown) {
  @apply cursor-not-allowed bg-controls-disable border-transparent text-controls-primary-disable;
}

.dial-input-error {
  @apply border-error;
}

input {
  -moz-appearance: textfield; /* Firefox */

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: none;
  }
}
