@layer ui {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .base-button {
      @apply flex flex-row items-center px-3 py-2;
      @apply rounded border border-solid border-transparent;
      @apply small-medium;

      min-width: 38px;
      min-height: 38px;
    }

    .base-button-disable {
      @apply pointer-events-none text-controls-disable bg-controls-disable;
    }

    .primary {
      @apply base-button bg-controls-accent text-controls-primary;

      &:hover,
      &:focus {
        @apply bg-controls-accent-hover;
      }

      &:focus {
        @apply border-hover;
      }

      &:disabled {
        @apply base-button-disable;
      }
    }

    .secondary {
      @apply base-button bg-transparent text-primary;
      @apply border-primary;

      &:hover,
      &:focus {
        @apply bg-layer-4;
      }

      &:focus {
        @apply border-hover;
      }

      &:disabled {
        @apply base-button-disable;
      }
    }

    .tertiary {
      @apply base-button text-accent-primary bg-transparent;

      &:hover,
      &:focus {
        @apply bg-controls-accent-alpha;
      }

      &:focus,
      &:active {
        @apply border-accent-primary;
      }

      &:disabled {
        @apply base-button-disable;
      }
    }

    h1 {
      @apply font-semibold;
      font-size: 20px;
      line-height: 24px;
    }

    h2 {
      @apply font-normal;
      font-size: 20px;
      line-height: 24px;
    }

    h3 {
      @apply font-semibold;
      font-size: 16px;
      line-height: 18px;
    }

    .body {
      @apply font-normal;
      font-size: 16px;
      line-height: 28px;
    }

    .small {
      @apply font-normal;
      font-size: 14px;
      line-height: 16px;
    }

    .small-text-semi {
      @apply small font-semibold;
    }

    .small-medium {
      @apply font-normal;
      font-size: 14px;
      line-height: 16px;
    }

    .small-150 {
      @apply font-normal;
      font-size: 14px;
      line-height: 21px;
    }

    .tiny {
      @apply font-normal;
      font-size: 12px;
      line-height: 14px;
    }

    .tiny-150 {
      @apply font-normal;
      font-size: 12px;
      line-height: 18px;
    }

    .caption {
      @apply font-normal;
      font-size: 10px;
      line-height: 12px;
    }
  }
}
