.dial-display1 {
  @apply font-semibold text-[32px]/[48px];
}

.dial-display2 {
  @apply font-semibold text-[28px]/[40px];
}

.dial-h1 {
  @apply font-semibold text-[22px]/[32px];
}

.dial-h2 {
  @apply font-semibold text-[20px]/[28px];
}

.dial-h3 {
  @apply font-semibold text-[18px]/[26px];
}

.dial-body {
  @apply font-normal text-[16px]/[24px];
}

.dial-body-semi {
  @apply dial-body font-semibold;
}

.dial-small {
  @apply font-normal text-[14px]/[20px];
}

.dial-small-semi {
  @apply dial-small font-semibold;
}

.dial-tiny {
  @apply font-normal text-[12px]/[16px];
}

.dial-tiny-semi {
  @apply dial-tiny font-semibold;
}

.dial-caption {
  @apply font-normal text-[10px]/[12px];
}

// Fira Code
.dial-code {
  @apply font-normal text-[14px]/[20px];
}

h1 {
  @apply dial-h1;
}

h2 {
  @apply dial-h2;
}

h3 {
  @apply dial-h3;
}

/// remove
.dial-small-medium {
  @apply font-normal;
  font-size: 14px;
  line-height: 16px;
}

.dial-small-150 {
  @apply font-normal;
  font-size: 14px;
  line-height: 21px;
}
